doctype html
html
head
title Alpha Blog
= csrf_meta_tags

= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


body
= bootstrap_flash
= yield
